.ListItem {
  list-style: none;
  padding: 15px;
  line-height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ListItem div {
  font-size: 20px;
}

.ListItem hr {
  width: 500px;
}